@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Foldit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header nav {
  width: 60%;
  border-radius: 10px;
  border: groove;
  margin: 0 auto; }
  header nav.navbar {
    height: 60px; }
  header nav .navbar-brand .icono_nav {
    max-height: 60px; }
  header nav .collapse.navbar-collapse {
    justify-content: space-around; }
    header nav .collapse.navbar-collapse ul.navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px; }
      header nav .collapse.navbar-collapse ul.navbar-nav .nav-item {
        margin: 0 10px; }
        header nav .collapse.navbar-collapse ul.navbar-nav .nav-item .nav-link {
          color: #000;
          padding: 0;
          display: flex;
          align-items: center;
          height: 60px; }
          header nav .collapse.navbar-collapse ul.navbar-nav .nav-item .nav-link:hover {
            /* Agrega las animaciones deseadas */
            transform: scale(1.1);
            transition: transform 0.3s ease; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  position: relative;
  background-image: url(../Img/fondo2.jpg);
  background-size: cover;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

footer {
  width: auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  background-color: black;
  background-size: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
  text-align: center;
  border-radius: 1%;
  opacity: 0.9; }
  footer .container {
    margin-top: 1%;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 1rem; }
    footer .container .box1 .box1_redes {
      color: #ffffff;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif; }
    footer .container .box1 .redes a {
      display: inline-block;
      color: footer .container .box1 .redes a #007bff;
      font-size: 20px;
      padding: 5px; }
      footer .container .box1 .redes a:hover {
        color: red; }
    footer .container .box2 .box2_redes {
      color: #ffffff;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif; }
    footer .container .box2 .contacto p {
      color: silver;
      font-style: bold; }
    footer .container hr {
      border: none;
      border-top: 1px solid red;
      margin: 20px 0; }
    footer .container .copy {
      display: inline-block;
      margin: 0 auto;
      align-items: center;
      text-align: center;
      color: white; }
      footer .container .copy p {
        font-size: 10px;
        text-align: center;
        align-items: center;
        margin: 0 auto; }
      footer .container .copy img {
        width: 12%;
        margin: 0 auto;
        align-items: center;
        text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.home_index {
  display: flexbox;
  flex-direction: column;
  text-align: center;
  margin-top: 2%; }
  .home_index .display-2 {
    padding: 5%;
    font-family: 'Nabla', cursive;
    font-size: 500%;
    font-weight: bold;
    text-shadow: 5px 5px 5px #e09d01; }
  .home_index .logo {
    border: none;
    opacity: 1;
    width: 250px;
    margin: 0 auto;
    z-index: 0; }
    .home_index .logo:hover {
      transform: none;
      border: none; }
  .home_index .cuervosgif {
    display: flex;
    border: none;
    opacity: 1;
    align-items: center; }
    .home_index .cuervosgif .logo2 {
      border: none;
      opacity: 1;
      width: 300px;
      z-index: 1;
      margin: 0 auto; }
    .home_index .cuervosgif .logo3 {
      border: none;
      opacity: 1;
      width: 220px;
      z-index: 2;
      margin: 0 auto; }
  .home_index .display-5 {
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-top: -80px; }
    .home_index .display-5 .display-7 {
      color: white;
      font-family: 'Montserrat';
      font-weight: bold;
      text-shadow: 1px 1px 1px #0a0a0a; }
  .home_index .reseña {
    color: #beb7b7;
    font-style: bold;
    font-size: large;
    text-shadow: 3px 3px 3px #0e0e0f;
    padding: 1%; }
  .home_index .hinchas img {
    opacity: 1;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    width: 25%;
    border-style: double;
    border-width: 15%;
    border-color: silver; }
    .home_index .hinchas img:hover {
      transform: none;
      border: none; }
  .home_index .copas_estrella {
    width: 20%;
    opacity: 1;
    border: none; }
  .home_index .copas_titulo {
    border: none;
    opacity: 1;
    margin-top: 10rem;
    text-decoration: underline;
    color: goldenrod;
    font-family: 'Cinzel', serif;
    text-shadow: 2px 1px 1px #997518;
    font-size: 3rem; }
  .home_index .copas_titulo {
    margin-top: 10rem;
    text-decoration: underline;
    color: goldenrod;
    font-family: 'Cinzel', serif;
    text-shadow: 2px 1px 1px #997518;
    font-size: 3rem; }
  .home_index .swiffy-slider {
    border: none;
    opacity: 1;
    padding: 5%; }
    .home_index .swiffy-slider .slider-container img {
      align-items: center;
      border: none;
      transform: none;
      opacity: 1;
      width: auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.home_proyecto {
  padding: 1rem; }
  .home_proyecto .home_video {
    font-size: 70px;
    padding: 3%;
    text-align: center;
    color: goldenrod;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px cornsilk; }

.video_proyecto {
  position: relative;
  padding: 1%;
  margin: 0 auto;
  text-align: center; }
  .video_proyecto iframe {
    width: 660px;
    height: 315px; }

.home_boton {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  border-style: groove;
  font-size: 30px;
  background: #1a1254;
  background: #1a1254;
  background: linear-gradient(90deg, #1a1254 0%, #c8a92c 0%, #fcfc07 17%, #faf808 18%, #d2b418 41%, #f0e90a 57%, #e8e624 66%, #bebf14 85%, #cbbe01 100%, #ffd706 100%, #1e1f78 100%, #3b35e4 100%, #eef470 100%, #61605d 100%);
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px; }
  .home_boton:hover {
    transition: all 3s;
    background: silver;
    width: 40%;
    font-size: 18px; }
  .home_boton .home_texto {
    text-decoration: none;
    color: #2c2b2b;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; }
    .home_boton .home_texto:hover {
      transition: all 3s;
      width: 40%;
      font-size: 18px; }

.home_pie {
  margin: 0 auto;
  text-align: center;
  padding: 4rem;
  font-size: 120px;
  color: silver;
  text-shadow: 2px 2px gray;
  font-family: 'Foldit', cursive; }

.home_cuervo {
  text-align: center;
  display: flex;
  padding: 1rem;
  margin-top: 5rem;
  border: none;
  opacity: 1;
  padding: 3rem; }
  .home_cuervo .home_logo1 {
    width: 35%;
    opacity: 1;
    border: none;
    margin-block-start: 0; }
  .home_cuervo .home_logo2 {
    opacity: 1;
    transform: none;
    text-align: center;
    justify-content: end;
    border: none;
    width: 30%;
    text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.home_formulario {
  border: none;
  opacity: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2%; }
  .home_formulario .formulario_titulo {
    padding: 5rem;
    margin: 0 auto;
    text-align: center;
    font-size: 800%;
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
    animation-duration: 1s;
    animation-name: asociate;
    animation-iteration-count: infinite; }

@keyframes asociate {
  0% {
    opacity: 0; }
  50 {
    opacity: 1; }
  100 {
    opacity: 0; } }
  .home_formulario .formulario_cabecera {
    border: none;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
    .home_formulario .formulario_cabecera .formulario_spot {
      display: flex;
      margin: 0 auto; }
      .home_formulario .formulario_cabecera .formulario_spot .video_asociate {
        width: 250px;
        height: 250px;
        border-radius: 30px; }
      .home_formulario .formulario_cabecera .formulario_spot .cuervo_asociate {
        border: none;
        opacity: 1;
        width: 250px;
        height: 250px;
        z-index: 1;
        animation: pulse 1s infinite; }
        .home_formulario .formulario_cabecera .formulario_spot .cuervo_asociate:hover {
          opacity: 1;
          border: none; }
    .home_formulario .formulario_cabecera .display-2 {
      padding: 2rem;
      font-style: italic;
      font-size: 4rem;
      text-shadow: 2px 2px #383838; }
  .home_formulario .formulario_registro {
    padding: 1rem; }
    .home_formulario .formulario_registro .formulario_texto {
      border-style: groove;
      color: white;
      margin: 0 auto;
      background-color: black;
      width: 28%;
      border-radius: 10px;
      margin-top: 5%; }
      .home_formulario .formulario_registro .formulario_texto .formulario_subtitulo {
        color: red;
        font-size: xx-large;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 2px 2px #2f2e2e;
        text-decoration: underline;
        padding: 1rem; }
      .home_formulario .formulario_registro .formulario_texto .formulario_registro {
        border-style: groove; }
        .home_formulario .formulario_registro .formulario_texto .formulario_registro label {
          padding: 2px; }
        .home_formulario .formulario_registro .formulario_texto .formulario_registro .formulario_logo {
          opacity: 1;
          transform: none;
          transition: all 3s;
          width: 100%;
          text-align: center; }
          .home_formulario .formulario_registro .formulario_texto .formulario_registro .formulario_logo:hover {
            transform: scale(1.04, 1.04); }
        .home_formulario .formulario_registro .formulario_texto .formulario_registro .formulario_terminos {
          padding: 2rem; }
        .home_formulario .formulario_registro .formulario_texto .formulario_registro .formulario_boton {
          color: black;
          background-color: gold;
          border: 1px #fff solid;
          border-radius: 5px;
          text-decoration: none;
          padding: 1rem;
          cursor: pointer; }
          .home_formulario .formulario_registro .formulario_texto .formulario_registro .formulario_boton:hover {
            transition: all 1s;
            background: #7d7c80;
            width: 40%;
            font-size: 18px;
            transform: scale(1.1, 1.1); }
  .home_formulario .formulario_pie {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 12px; }
    .home_formulario .formulario_pie .formulario_cuervo {
      border: none;
      transform: none;
      width: 16%;
      margin: 0 auto;
      margin-top: 12px; }
    .home_formulario .formulario_pie .formulario_casla {
      border: none;
      transform: none;
      width: 28%;
      margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.home_galeria .titulo_galeria {
  font-family: 'Noto Serif Grantha', serif;
  text-shadow: 2px 2px white;
  padding: 3%;
  font-size: 50px;
  font-weight: bold;
  background: radial-gradient(ellipse, #8b7b7b, white, #b6a9a9);
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  border-radius: 20px;
  border-style: groove;
  border: white solid;
  color: black; }

.home_galeria img {
  width: 100%;
  height: 100%;
  border: double silver;
  opacity: 0.6; }
  .home_galeria img:hover {
    opacity: 1;
    border: solid 2px white;
    transform: scale(1.1, 1.1); }

.home_galeria .fotos {
  padding: 1%;
  margin: 0 auto;
  margin-top: 5%;
  width: 75%;
  background-color: #232382;
  border: 2px red solid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas: "h1 h2 h2 h3 h3" "v1 h4 h4 h5 h5" "v1 h6 h6 h7 h7" "s1 s2 h8 h8 s3"; }

.home_galeria .h1 {
  grid-area: h1; }

.home_galeria .h2 {
  grid-area: h2; }

.home_galeria .h3 {
  grid-area: h3; }

.home_galeria .h4 {
  grid-area: h4; }

.home_galeria .h5 {
  grid-area: h5; }

.home_galeria .h6 {
  grid-area: h6; }

.home_galeria .h7 {
  grid-area: h7; }

.home_galeria .h8 {
  grid-area: h8; }

.home_galeria .v1 {
  grid-area: v1; }

.home_galeria .s1 {
  grid-area: s1; }

.home_galeria .s2 {
  grid-area: s2; }

.home_galeria .s3 {
  grid-area: s3; }

.home_galeria .musicuervo {
  display: flex;
  flex-direction: column;
  padding: 20rem;
  text-align: center; }
  .home_galeria .musicuervo .titulo_musicuervo {
    padding: 1rem;
    color: goldenrod;
    text-align: center;
    font-size: 80px;
    text-shadow: 3px 3px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .home_galeria .musicuervo .video_musicuervo {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: auto; }
  .home_galeria .musicuervo .musicuervo_estrofa {
    font-family: 'Dancing Script', cursive;
    padding: 1rem;
    margin-top: 5rem;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 1px silver;
    background-color: white;
    border-radius: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.home_historia {
  padding: 2rem; }
  .home_historia .text-warning.text-center {
    text-align: center;
    color: #ff9800;
    text-decoration: underline; }
    .home_historia .text-warning.text-center h1 {
      font-size: 40px;
      font-weight: bold;
      text-shadow: 3px 2px #7c6013; }
  .home_historia .text-secondary.text-center {
    text-align: center;
    color: #757575; }
    .home_historia .text-secondary.text-center h2 {
      font-size: 34px;
      text-shadow: 2px 1px #b8b7b7;
      padding: 1rem; }
  .home_historia .texto .row {
    width: 100%; }
    .home_historia .texto .row .text-left {
      border-style: groove;
      border-color: #ff9800; }
      .home_historia .texto .row .text-left.text-light {
        color: #fff; }
      .home_historia .texto .row .text-left.col-8 {
        width: 65.76667%; }
      .home_historia .texto .row .text-left p {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 1rem;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px; }
    .home_historia .texto .row .col-4 {
      width: 33%;
      border-style: groove;
      border-color: #ff9800; }
      .home_historia .texto .row .col-4 .foto_plantel {
        margin-top: 4rem;
        padding: 1rem;
        opacity: 1;
        width: 100%;
        height: auto;
        opacity: 0.9; }
        .home_historia .texto .row .col-4 .foto_plantel:hover {
          transform: none;
          opacity: 1.1; }
  .home_historia .texto .col-8 {
    padding: 1rem;
    width: 66.66667%;
    border-style: groove;
    border-color: #ff9800; }
    .home_historia .texto .col-8 .foto_estadio {
      margin-top: 6rem;
      padding: 1rem;
      opacity: 1;
      width: 100%;
      height: auto;
      opacity: 0.9; }
      .home_historia .texto .col-8 .foto_estadio:hover {
        transform: none;
        opacity: 1.1; }
  .home_historia .texto .text-left.text-light {
    color: #fff; }
  .home_historia .texto .text-left.col-4 {
    width: 33.33333%; }
  .home_historia .text-left.text-light {
    color: #fff; }
  .home_historia .text-left.col-6 {
    width: 50%; }
  .home_historia .text-left p {
    margin-top: 0;
    margin-bottom: 1rem; }
  .home_historia .col-6 {
    width: 50%;
    border-style: groove;
    border-color: #ff9800; }
    .home_historia .col-6 .foto_historial {
      padding: 1rem;
      opacity: 1;
      width: 100%;
      height: auto;
      opacity: 0.9; }
      .home_historia .col-6 .foto_historial:hover {
        transform: none;
        opacity: 1.1; }

.row:last-child .text-left.text-light {
  color: #fff; }

.row:last-child .text-left.col-12 {
  width: 100%; }
  .row:last-child .text-left.col-12 p {
    margin-top: 0;
    margin-bottom: 1rem; }

img.w-25 {
  padding: 5rem;
  width: 25%;
  border: none;
  opacity: 1;
  margin: 0 auto;
  z-index: 0;
  animation: pulse 1s infinite; }
  img.w-25:hover {
    width: 25%;
    transform: none;
    border: none; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 768px) {
  nav {
    width: 100%; }
    nav.navbar .icono_nav {
      width: 4rem;
      height: auto; }
    nav.navbar .navbar-collapse ul.navbar-nav {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: auto;
      transition: color 0.3s ease-in-out; }
      nav.navbar .navbar-collapse ul.navbar-nav .nav-item {
        margin: 10px 0; }
        nav.navbar .navbar-collapse ul.navbar-nav .nav-item .nav-link {
          height: auto; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 768px) {
  .home_index {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2%; }
    .home_index .display-2 {
      padding: 16px;
      font-family: 'Nabla', cursive;
      font-size: 300%;
      font-weight: bold;
      text-shadow: 5px 5px 5px #e09d01; }
    .home_index .logo {
      border: none;
      opacity: 1;
      width: 250px;
      margin: 0 auto;
      z-index: 0; }
      .home_index .logo:hover {
        transform: none;
        border: none; }
    .home_index .cuervosgif {
      display: flex;
      border: none;
      opacity: 1;
      align-items: center;
      padding: 2rem; }
      .home_index .cuervosgif .logo2 {
        border: none;
        opacity: 1;
        width: 180px;
        z-index: 1;
        margin: 0 auto; }
      .home_index .cuervosgif .logo3 {
        border: none;
        opacity: 1;
        width: 120px;
        z-index: 2;
        margin: 0 auto; }
    .home_index .display-5 {
      color: white;
      font-family: 'Montserrat';
      font-weight: bold;
      text-shadow: 1px 1px 1px black;
      margin-top: -80px; }
      .home_index .display-5 .display-7 {
        color: white;
        font-family: 'Montserrat';
        font-weight: bold;
        text-shadow: 1px 1px 1px #0a0a0a; }
    .home_index .reseña {
      color: #b1b4b4;
      font-style: bold;
      font-size: large;
      text-shadow: 3px 3px 3px #0e0e0f;
      padding: 1%; }
    .home_index .hinchas img {
      opacity: 1;
      border: none;
      border-radius: 10px;
      margin: 0 auto;
      width: 80%;
      border-style: double;
      border-width: 15%;
      border-color: silver;
      margin-top: 5rem; }
      .home_index .hinchas img:hover {
        transform: none;
        border: none; }
    .home_index .copas_estrella {
      width: 50%;
      opacity: 1;
      border: none;
      margin: 0 auto; }
    .home_index .copas_titulo {
      border: none;
      opacity: 1;
      margin-top: 10rem;
      text-decoration: underline;
      color: goldenrod;
      font-family: 'Cinzel', serif;
      text-shadow: 2px 1px 1px #997518;
      font-size: 3rem; }
    .home_index .copas_titulo {
      margin-top: 10rem;
      text-decoration: underline;
      color: goldenrod;
      font-family: 'Cinzel', serif;
      text-shadow: 2px 1px 1px #997518;
      font-size: 3rem; }
    .home_index .swiffy-slider {
      border: none;
      opacity: 1;
      padding: 5%; }
    .home_index .slider-container img {
      align-items: center;
      border: none;
      transform: none;
      opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 768px) {
  .home_formulario .formulario_titulo {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem; }
  .home_formulario .formulario_cabecera {
    display: inline-block;
    width: 100%;
    margin: 0 auto; }
    .home_formulario .formulario_cabecera .video_asociate {
      width: 100%;
      height: auto;
      margin: 0 auto; }
    .home_formulario .formulario_cabecera .cuervo_asociate {
      display: none; }
    .home_formulario .formulario_cabecera .display-2 {
      text-align: center;
      font-size: 30px;
      margin: 0 auto; }
  .home_formulario .formulario_registro .formulario_texto {
    width: 100%;
    margin: 0 auto; }
  .home_formulario .formulario_registro .formulario_logo {
    padding: 1rem;
    width: 100%;
    opacity: 1;
    transition: all 3s; }
    .home_formulario .formulario_registro .formulario_logo:hover {
      transform: scale(0.9, 0.9); }
  .home_formulario .formulario_registro .form-check {
    font-size: 14px;
    padding: 1rem;
    margin: 0 auto; } }

/*:::::@import"./mediaqueriehistory";:::::*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 768px) {
  .home_proyecto .home_video {
    margin: 0 auto;
    width: 100%;
    height: auto;
    font-size: 2rem;
    margin-top: 3rem; }
  .home_proyecto .video_proyecto iframe {
    width: 100%;
    height: auto; }
  .home_proyecto .home_boton {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 12px;
    align-items: center; }
    .home_proyecto .home_boton:hover {
      transition: all 3s;
      background: silver;
      width: 60%;
      font-size: 8px; }
    .home_proyecto .home_boton .home_texto {
      text-decoration: none;
      color: #2c2b2b;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold; }
      .home_proyecto .home_boton .home_texto:hover {
        transition: all 3s;
        width: 40%;
        font-size: 18px; }
  .home_proyecto .home_pie {
    width: 100%;
    margin: 0 auto;
    font-size: 3rem;
    text-align: center; }
  .home_proyecto .home_cuervo {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto; }
    .home_proyecto .home_cuervo .home_logo1 {
      width: 50%;
      margin-block-start: 0; }
    .home_proyecto .home_cuervo .home_logo2 {
      text-align: center;
      justify-content: end;
      width: 40%;
      text-align: center; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 768px) {
  .home_galeria {
    margin-top: 4rem;
    width: 100%;
    height: auto; }
    .home_galeria .titulo_galeria {
      width: 100%;
      font-size: 2rem;
      align-items: center;
      margin: 0 auto;
      height: auto; }
    .home_galeria .fotos {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto; }
    .home_galeria .musicuervo {
      display: none; } }

/*:::::FUENTES:::::*/
