*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$imagen-fondo: url("../Img/fondo2.jpg");

body{
    position: relative;
    background-image: $imagen-fondo;
    background-size:cover;
    margin:0 auto;
}


