*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

$color-primary: #007bff;
$color-secondary: #ffffff;

footer {
  width: auto;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
  text-align: center;
  border-radius: 1%;
  opacity: 0.9;
  .container {
    margin-top: 1%;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    .box1 {
      .box1_redes {
        color: $color-secondary;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .redes {
        a {
          display: inline-block;
          color: &$color-primary;
          font-size: 20px;
          padding: 5px;
          &:hover{
            color:red;
          }
        }
      }
    }
    
    .box2 {
      .box2_redes {
        color: $color-secondary;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .contacto {
        p {
          color: silver;
          font-style:bold;
        }
      }
    }
    hr {
      border: none;
      border-top: 1px solid red;
      margin: 20px 0;
    }
    .copy {
      display: inline-block;
      margin: 0 auto;
      align-items: center;
      text-align: center;
      color: white;
      p {
        font-size: 10px;
        text-align: center;
        align-items: center;
        margin:0 auto;
      }
      img{
        width: 12%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
      }
    }
  }
}