*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
$color-warning: #ff9800;
$color-secondary: #757575;

.home_historia {
    margin-top: 1rem;
    padding: 2rem;
.text-warning {   
    &.text-center {
    text-align: center;
    color: $color-warning;
    text-decoration: underline;
    h1 {
        font-size: 40px;
        font-weight: bold;
        text-shadow: 3px 2px rgb(124, 96, 19);
    }
    }
}

.text-secondary {
    &.text-center {
    text-align: center;
    color: $color-secondary;
    h2 {
        font-size: 34px;
        text-shadow: 2px 1px rgb(184, 183, 183);
        padding: 1rem;
    }
    }
}

.historia_SL{
    margin-top: 1rem;
    background-color: rgb(171, 171, 171);
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    border:groove gold;
    padding: 1rem;
    border-radius: 10px;
    .fila1{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        color:black;
        .foto_plantel{
            width: 90%;
            height: 90%;
            margin: 0 auto;
            border-radius: 5px;
            border: solid rgb(74, 75, 78);
        }
    }
    .fila2{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        color:black;
        .foto_estadio{
            width: 80%;
            height: 80%;
            margin: 0 auto;
            border-radius: 5px;
            border: solid rgb(74, 75, 78);
        }
    }
    .fila3{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        color:black;
        .foto_historial{
            width: 80%;
            height: 80%;
            margin: 0 auto;
            border-radius: 5px;
            border: solid rgb(74, 75, 78);
        }
    }
    .fila4{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        color:black;
        }
    .fila5{
        margin-top: 1rem;
        padding: 1rem;
        margin: 0 auto;
        width: 100%;
        display:flex;
        flex-direction: row;
        }
        .camisetas_historial{
            width: 50%;
            border: solid rgb(19, 46, 126);
            height: 90%;
        }
        .escudo_historial{
            width: 50%;
            border: solid rgb(112, 30, 9);
            height: 90%;
        }
    }
}

    

img.w-25 {
    padding: 5rem;
    width: 25%;
    border: none;
    opacity: 1;
    margin: 0 auto;
    z-index: 0;
    animation: pulse 1s infinite;
    &:hover {
        width: 25%;
        transform: none;
        border: none;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

