*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
$color-warning: #ff9800;
$color-secondary: #757575;

main {
.text-warning {   
    &.text-center {
    text-align: center;
    color: $color-warning;
    font-size: 100px;
    text-decoration: underline;
    h1 {
        font-size: 40px;
        font-weight: bold;
        text-shadow: 3px 2px rgb(124, 96, 19);
    }
    }
}

.text-secondary {
    &.text-center {
    text-align: center;
    color: $color-secondary;
    h2 {
        font-size: 34px;
        text-shadow: 2px 1px rgb(184, 183, 183);
        padding: 1rem;
    }
    }
}

.texto {
    .row {
    .text-left {
        border-style: groove;
        border-color: $color-warning;
        &.text-light {
        color: #fff;
        }
        
        &.col-8 {
        width: 66.66667%;
        }
        
        p {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 1rem;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        }
    }
    
    .col-4 {
        width: 33.33333%;
        border-style: groove;
        border-color: $color-warning; 
        .foto_plantel {
        margin-top: 1rem;
        padding: 1rem;
        opacity: 1;
        width: 100%;
        height: auto;
        opacity: 0.9;
        &:hover{
            transform: none;
            opacity: 1.1;
        }
        }
    }
    }
    

    .col-8 {
        padding: 1rem;
        width: 66.66667%;
        border-style: groove;
        border-color: $color-warning; 
        .foto_estadio {
        margin-top: 3rem;
        padding: 1rem;
        opacity: 1;
        width: 100%;
        height: auto;
        opacity: 0.9;
        &:hover{
            transform: none;
            opacity: 1.1;
        }
        }
    }
    
    .text-left {
        &.text-light {
        color: #fff;
        }
        
        &.col-4 {
        width: 33.33333%;
        }
    }
    }
    
    .text-left {
        &.text-light {
        color: #fff;
        }
        
        &.col-6 {
        width: 50%;
        }
        
        p {
        margin-top: 0;
        margin-bottom: 1rem;
        }
    }
    
    .col-6 {
        width: 50%;
        border-style: groove;
        border-color: $color-warning; 
        .foto_historial {
        padding: 1rem;
        opacity: 1;
        width: 100%;
        height: auto;
        opacity: 0.9;
        &:hover{
            transform: none;
            opacity: 1.1;
        }
        }
    }
    }
    
    .row:last-child {
    .text-left {
        &.text-light {
        color: #fff;
        }
        
        &.col-12 {
        width: 100%;
        
        p {
            margin-top: 0;
            margin-bottom: 1rem;
        }
        }
    }
    }

img.w-25 {
    padding: 5rem;
    width: 25%;
    border: none;
    opacity: 1;
    margin: 0 auto;
    z-index: 0;
    animation: pulse 1s infinite;
    &:hover {
        width: 25%;
        transform: none;
        border: none;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

