*{
    margin: 0;
    padding:0;
    box-sizing: border-box; }


@media (max-width: 767px) {
        img.w-25 {
        width: 5%;
        border: none;
        opacity: 1;
        margin: 0 auto;
        z-index: 0;
        animation: pulse 1s infinite;
        }
        img.w-25:hover {
        width: 5%;
        transform: none;
        border: none;
        }
        }
        
        @keyframes pulse {
        0% {
        transform: scale(1);
        }
        50% {
        transform: scale(1.1);
        }
        100% {
        transform: scale(1);
    }
}
        
        
        
        